---
import DocsLayout from "@/layouts/DocsLayout.astro";
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const docs = await getCollection("docs");
  return docs.map((item) => {
    return {
      params: { id: item.id },
      props: { docs: item },
    };
  });
}) satisfies GetStaticPaths;

const { docs } = Astro.props;

const { Content } = await render(docs);
---

<DocsLayout>
  <div
    class="p-4 prose prose-sm md:prose-base w-full max-w-4xl grow pt-10 pb-10"
  >
    <Content class="w-full" />
  </div>
</DocsLayout>
