---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/ratatui-kit-website/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ratatui Kit</title>
    <!-- 支持mermaid -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
    ></script>
    <script is:inline>
      mermaid.initialize({ startOnLoad: true });
    </script>
    <ClientRouter />
  </head>
  <body class="overflow-hidden bg-base-200">
    <slot />
  </body>
</html>
